<button 
    class="btn btn-outline-primary"
    [routerLink]="['/setup']"
>
    Play Foo
</button>
<div class="card mt-3">
    <div class="card-header">
        Leaderboard
    </div>
    <div 
        class="card-body"
        *ngIf="leaderboardData.length == 0"
    >
        Play a game to see the leaderboard...
    </div>
    <table 
        class="table"
        *ngIf="leaderboardData.length > 0"
    >
        <thead>
          <tr>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">AVG</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let leaderboardPlayer of leaderboardData"
          >
            <td>{{ leaderboardPlayer.wins }}</td>
            <td>{{ leaderboardPlayer.losses }}</td>
            <td>{{ leaderboardPlayer.avg }}</td>
            <td>{{ leaderboardPlayer.name }}</td>
          </tr>
        </tbody>
      </table>
</div>