<button 
    class="btn btn-outline-primary"
    [routerLink]="['/setup']"
>
    Play Foo
</button>
<div class="card mt-3 overflow-x-hidden">
  <div class="card-header">
      Email for saving games...
  </div>
  <div class="mt-3">
    <input 
        type="text" 
        class="form-control" 
        placeholder="Enter new player name"
        [(ngModel)]="emailAddress"
    >
    <button
        class="btn btn-outline-primary"
        (click)="saveEmailAddress()"
    >
        Save
    </button>
</div>    </div>
<div class="card mt-3 overflow-x-hidden">
    <div class="card-header">
        Leaderboard
    </div>
    <div 
        class="card-body"
        *ngIf="leaderboardData.length == 0"
    >
        Play a game to see the leaderboard...
    </div>
    <table 
        class="table"
        *ngIf="leaderboardData.length > 0"
    >
        <thead>
          <tr>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">AVG</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let leaderboardPlayer of leaderboardData"
          >
            <td>{{ leaderboardPlayer.wins }}</td>
            <td>{{ leaderboardPlayer.losses }}</td>
            <td>{{ leaderboardPlayer.avg }}</td>
            <td>{{ leaderboardPlayer.name }}</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="card mt-3 overflow-x-hidden">
  <div class="card-header">
      Game Time Facts
  </div>
  <div class="card-body">
    <p>
      {{ shortestGame }} shortest game
    </p>
    <p>
      {{ longestGame }} longest game
    </p>
    <table 
        class="table"
        *ngIf="avgGameTimeData.length > 0"
    >
        <thead>
          <tr>
            <th scope="col">Player Count</th>
            <th scope="col">Avg Game Length</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let d of avgGameTimeData"
          >
            <td>{{ d.playerCount }}</td>
            <td>{{ d.avgGameDuration }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="card mt-3 overflow-x-hidden">
  <div class="card-header">
      Really Cool Thing
  </div>
  <div class="card-body">
    <p>
      That really cool thing happens in <b>{{ coolThingPercentDisplay }}</b> of the games
    </p>
  </div>
</div>